$color-red : #f64552;
$color-green : #00c3a3;
$color-black: #000000;
$color-light-gray: #e6e7e8;
$color-light-purple: #451e36;
$color-cyan: #00c0cf;
$color-dark-gray: #727272;
$color-dark-purple:#38052a;
$color-yellow: #fbd43b;
$color-purple: #543146;
$color-gray: #b6b6b6;
$color-white: #fff;
$color-gray-purple: #7a6878;
$color-lighter-gray: rgba(230, 231, 232, 0.5)
