@import "_variables";
@import "_mixis";

header{
	background-color: $color-dark-purple;
	margin: 0;
	h6{
		color: $color-white;
		text-align: center;
		padding: 3%;
		margin: 0%;
	}
}
.listado{
	ul{
		margin: 0%;
	}
}
.busqueda{
	background-color:$color-light-gray;
	input{
		background: url(../img/search.png) no-repeat;
		background-position: left;
		background-size:10%;
	}
}