@import "_variables";
@import "_mixis";
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

header{
    background-color: $color-dark-purple;
    margin: 0;
    h6{
        color: $color-white;
        text-align: center;
        padding: 3%;
        margin: 0%;
    }
}
.listado{
    ul{
        margin: 5% 0% 0% 0%;
    }
    .icono-next{
        margin-top: 25px;
    }
}
.search {
position: relative;
color: #aaa;
font-size: 20px;

}
.search input {
height: 3em;
background: #fcfcfc  ;
border-bottom: none;
text-indent: 3.5em;
font-size: 20px;
}
.search .fa-search { 
          position: absolute;
          top: 1em;
          left: 1.5em;
}

.material-icons{
    margin-top: 1em;
}