@import "_variables";
@import "_mixis";

.darkpurple{
	background-color: $color-dark-purple;
	padding: 2em 0;
}

.lightpurple{
	background-color: $color-light-purple;
	padding-bottom: 1.8em;
}

.contiene{
	margin: 0px !important;
}

hr.style {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #000 inset;
}

.show{
	color: $color-green;
	text-decoration: none;
	line-height: 10px;
}

.eye{
	position: absolute;
    color: $color-green;
    margin: -2px -25px
}
.ussser{
	width: 110px;
	height: 110px;
}

.middle-icon{
	margin-top: 10px;
	text-align: right;
	color: $color-green;
}

.small{
	line-height: 0px;
	font-size: 12px;
}

.btns{
	font-size: 1.3em;
	box-shadow: 1px 3px 1px $color-dark-purple;
}

.waves-effect.waves-amar{
  	background-color: $color-yellow;
  	width: 8em !important;
	border-radius: 50px !important;
}

.lemarg{
	margin: 1.5em 0;
}