@import "_variables";
@import "_mixis";

header{
	background-color: $color-dark-purple;
	margin: 0%;
	h5{
		color: $color-white;
		text-align: center;
		padding: 5%;
		margin: 0%;
	}
}
.listo-body{
	text-align: center;
	.monto{
		font-size: 250%;
	}
}
