@import "_variables";
@import "_mixis";


.darkpurple{
	background-color: $color-dark-purple;
	height: 400em;
}

.lightpurple{
	background-color: $color-light-purple;
}

.base{
	margin-top: 3em;
}

a.show{
	color: #FFF;
	text-decoration: none;
}
.user{
	width: 120px;
	height: 120px;
}

.card-content{
	padding-bottom: 3em;
}

.card{
	background-color: $color-dark-purple !important;
}

.middle-icon{
	margin-top: 10px;
	text-align: right;
}

.btns{
	background-color: $color-yellow;
	width: 8em !important;
	border-radius: 50px !important;
}

.waves-effect.waves-amar{
  background-color: $color-yellow;
}

a.btns{
	font-size: 1.2em;
}

.lemarg{
	margin: 1.5em 0;
}