@import "_variables";
@import "_mixis";

.lightpurple{
	background-color: $color-light-purple;
}

.middle-icon{
	margin-top: 10px;
	text-align: right;
}

input.hugeletter{
	font-size:2em;
}

input.bigletter{
	font-size:1.5em;
}

.btns{
	background-color: $color-yellow;
	width: 8em !important;
	border-radius: 50px !important;
}

.waves-effect.waves-amar{
  background-color: $color-yellow;
}

a.btns{
	font-size: 1.2em;
}

.lemarg{
	margin: 1.5em 0;
}