@import "_variables";
@import "_mixis";

.darkpurple{
	background-color: $color-dark-purple;
	height: 400em;
}

.lightpurple{
	background-color: $color-light-purple;
	padding: 3em 0;
}

.base{
	margin-top: 3em;
}

a.show{
	color: #FFF;
	text-decoration: none;
}
.user{
	width: 120px;
	height: 120px;
}

.card-content{
	padding-bottom: 3em;
}

.card{
	background-color: $color-dark-purple !important;
}

.middle-icon{
	margin-top: 10px;
	text-align: right;
}

nav.lightpurple{
	background-color: $color-light-purple;
}